@font-face {
	font-family: 'assistant-300';
	src: url('../fonts/assistant300.woff'), url('../fonts/assistant300.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'assistant-400';
	src: url('../fonts/assistant400.woff'), url('../fonts/assistant400.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'myriadpro';
	src: url('../fonts/MyriadPro400.woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'segoe-400';
	src: url('../fonts/Segoe400.woff'), url('../fonts/Segoe400.woff') format('woff2');
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: "myriadpro"
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #565656;
}

input,
select {
	outline: none;
	border: none;
	border-bottom: 1px solid #b9b9b8;
}

header .header {
	display: flex;
	justify-content: space-between;
	/*border-bottom: 1px solid #f0f0f0;*/
	-webkit-box-shadow: 0px 3px 3px 0px rgba(240, 240, 240, 1);
	-moz-box-shadow: 0px 3px 3px 0px rgba(240, 240, 240, 1);
	box-shadow: 0px 3px 3px 0px rgba(240, 240, 240, 1);
}

header .header .logo {
	margin: 14px 0 10px 10px;
	height: 36px;
}

header .right-header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

header .right-header>a {
	align-items: center;
}

header .right-header .feedback-block .feedback-desc {
	padding: 0 37px 0 15px;
	font-size: 14px;
	font-family: "assistant-300";
	color: #8d8b87;
}

header .right-header .help-block .help-desc {
	padding: 0 51px 0 12px;
	font-size: 14px;
	font-family: "assistant-300";
	color: #8d8b87;
}

header .right-header .name-block .name-desc {
	padding-right: 12px;
	font-size: 14px;
	font-family: "segoe-400";
	color: #565656;
}

header .right-header .right-logo-img {
	margin: 0 8px;
	height: 32px;
	width: 32px;
}

main .toggler .d-none-el {
	display: none;
	line-height: 1.6;
	padding-left: 9px;
	font-family: "assistant-300";
	font-size: 16px;
	color: #8c8a86;
	transition: .6s ease-out;
}

main .toggler .toggler-slide-img {
	cursor: pointer;
	background-image: url("../img/toggler-right.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 25px;
	height: 15px;
}

header {
	position: relative;
}

main .toggler {
	background-color: #ffffff;
	position: absolute;
	height: 100%;
	top: 65px;
}

main .toggler {
	z-index: 1;
	background-color: #ffffff;
	position: absolute;
	height: 100%;
	top: 65px;
	-webkit-box-shadow: 3px 0px 0px 0px rgba(240, 240, 240, 0.67);
	-moz-box-shadow: 3px 0px 0px 0px rgba(240, 240, 240, 0.67);
	box-shadow: 3px 0px 0px 0px rgba(240, 240, 240, 0.67);
}

main .toggler .toggler-top {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

main .toggler nav>ul {
	list-style: none;
}

main .toggler nav>ul>li {
	padding: 0 0 0 15px;
}

main .toggler nav>ul>li .toggle-link-1 {
	margin: 4px 0 0 0;
}

main .toggler .settings-img {
	background-image: url("../img/settings.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: .6s ease-out;
}

main .toggler nav>ul>li>a {
	transition: .2s ease-out;
	align-items: center;
	height: 40px;
	display: flex;
}

main .toggler nav>ul>li>a:hover {
	border-right: 2px solid #e37222;
}

main .toggler .toggle-link-1:hover>.settings-img {
	background-image: url("../img/settings-hovred.png")
}

main .toggler .toggle-link-1:hover>.pointer-1 {
	color: #e37222;
}

main .toggler .map-pointer-img {
	background-image: url("../img/map-pointer.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: .6s ease-out;
}

main .toggler .toggle-link-2:hover>.map-pointer-img {
	background-image: url("../img/map-pointer-hovered.png")
}

main .toggler .toggle-link-2:hover>.pointer-2 {
	color: #e37222;
}

main .toggler .scale-img {
	background-image: url("../img/scale.png");
	background-repeat: no-repeat;
	transition: .6s ease-out;
	background-position: center;
}

main .toggler .toggle-link-3:hover>.scale-img {
	background-image: url("../img/scale-hovred.png")
}

main .toggler .toggle-link-3:hover>.pointer-3 {
	color: #e37222;
}

main .toggler .money-img {
	background-image: url("../img/money.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: .6s ease-out;
}

main .toggler .toggle-link-4:hover>.money-img {
	background-image: url("../img/money-hovered.png")
}

main .toggler .toggle-link-4:hover>.pointer-4 {
	color: #e37222;
}

main .toggler .journal-img {
	background-image: url("../img/journal.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: .6s ease-out;
}

main .toggler .toggle-link-5:hover>.journal-img {
	background-image: url("../img/journal-hovered.png")
}

main .toggler .toggle-link-5:hover>.pointer-5 {
	color: #e37222;
}

main .toggler .list-img {
	background-image: url("../img/list.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: .6s ease-out;
}

main .toggler .toggle-link-6:hover>.list-img {
	background-image: url("../img/list-hovered.png")
}

main .toggler .toggle-link-6:hover>.pointer-6 {
	color: #e37222;
}

main .toggler .toggler-img {
	height: 25px;
	width: 25px;
	display: inline-block;
}

main .general-content {
	margin-left: 70px;
}

.progress-bar {
	display: flex;
	width: 100%;
	height: 44px;
	border-bottom: 1px solid #b4b4b3;
}

.progress-bar .step {
	padding: 18px 0 0 0;
	font-family: "assistant-400";
	font-size: 16px;
	color: #75d8db;
	/*opacity: .6;*/
}

main .progress-bar .step-1 {
	width: 15%;
	border-bottom: 2px solid #75d8db;
	position: relative;
}

main .progress-bar .step-img-bg-1 {
	display: flex;
	z-index: 1;
	top: 27px;
	left: 108px;
	position: absolute;
	background-color: #75d8db;
	padding: 8px 6px;
	border: 1px solid #75d8db;
	border-radius: 50%;
}

main .progress-bar .step-4 {
	border-bottom: 1px solid #b4b4b3;
}

main .progress-bar .step-4 .step-img-bg-4 {
	border: 1px solid #b4b4b3;
	display: flex;
	z-index: 1;
	top: 27px;
	left: calc(100% - 15px);
	position: absolute;
	background-color: #FFFFFF;
	padding: 8px 7px;
	border-radius: 50%;
}

main .progress-bar .step-2,
main .progress-bar .step-3 {
	border-bottom: 2px solid #75d8db;
}

main .progress-bar .step-2,
main .progress-bar .step-3,
main .progress-bar .step-4 {
	width: 27.84%;
	position: relative;
	display: flex;
	justify-content: flex-end;
}

main .progress-bar .step-img-bg-3 {
	display: flex;
	z-index: 1;
	top: 27px;
	left: calc(100% - 15px);
	position: absolute;
	background-color: #ffffff;
	padding: 8px;
	border: 1px solid #75d8db;
	border-radius: 50%;
}

main .progress-bar .step-img-bg {
	display: flex;
	z-index: 1;
	top: 27px;
	left: calc(100% - 15px);
	position: absolute;
	background-color: #75d8db;
	padding: 8px 7px;
	border: 1px solid #75d8db;
	border-radius: 50%;
}

main .progress-bar .step-2-txt,
main .progress-bar .step-3-txt,
main .progress-bar .step-4-txt {
	padding-right: 25px;
}

main .shipper-details {
	display: block;
	width: 105px;
	margin: 40px 0 30px 0;
	font-family: "assistant-400";
	font-size: 16px;
	color: #75d8db;
	border-bottom: 1px solid #e37222;
}

main .shipment-details {
	display: block;
	width: 114px;
	margin: 40px 0 30px 0;
	font-family: "assistant-400";
	font-size: 16px;
	color: #75d8db;
	border-bottom: 1px solid #e37222;
}

main .input-searcher {
	display: inline-block;
	width: 300px;
	background-image: url(../img/searcher.png);
	background-repeat: no-repeat;
	background-position: 278px;
	/* padding-left: 20px; */
	padding-bottom: 4px;
	font-size: 13px;
}

main .details-input-comp {
	padding-bottom: 3px;
	width: 300px;
}

main .details-form .details-right {
	display: inline-block;
	padding-left: 20px;
}

main .details-form .details-left {
	display: inline-block;
}

.company-name {
	font-size: 12px;
	font-family: "segoe-400";
	color: #d4d4d3;
}

main .details-input::-webkit-input-placeholder {
	color: #d4d4d3;
	font-family: "assistant-400";
	font-size: 16px;
}

main .details-input::-moz-placeholder {
	color: #d4d4d3;
	font-family: "assistant-400";
	font-size: 16px;
}


/* Firefox 19+ */

main .details-input::-moz-placeholder {
	color: #d4d4d3;
	font-family: "assistant-400";
	font-size: 16px;
}


/* Firefox 18- */

main .details-input::-ms-input-placeholder {
	color: #d4d4d3;
	font-family: "assistant-400";
	font-size: 16px;
}

main .details-input-comp::-webkit-input-placeholder {
	color: #666666;
}

main .details-input-comp::-moz-placeholder {
	color: #666666;
}


/* Firefox 19+ */

main .details-input-cop::-moz-placeholder {
	color: #666666;
}


/* Firefox 18- */

main .details-input-comp::-ms-input-placeholder {
	color: #666666;
}

main .bg-line {
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeced;
}

main .underline-block {
	padding-top: 8px;
}

main table .table-header th {
	font-weight: lighter;
	border-bottom: 1px solid #eaeced;
	font-size: 14px;
	font-family: "assistant-300";
	color: #cdcdcc;
}

main table td {
	vertical-align: 18px;
	padding-top: 18px;
	font-size: 16px;
	font-family: "assistant-300";
	color: #565656;
}
main table{
	border-spacing: 0px; 
}
main table .input-table {
	display: inline-block;
	width: 408px;
	background-image: url(../img/searcher.png);
	background-repeat: no-repeat;
	background-position: 390px;
	color: #565656;
	font-family: "assistant-400";
	opacity: .8;
	padding-bottom: 4px;
	font-size: 16px;
}

main table td[data-label="Stacable"] {
	text-align: center;
}

main table td[data-label="H/U Dimentions"] {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

main table .input-nmfc {
	width: 40px;
	padding-bottom: 2.6px;
	font-size: 16px;
	font-family: "assistant-400";
	color: #d4d4d3;
}

main td[data-label="Class"],
main td[data-label="# of Pieces"],
main td[data-label="Total Weight"],
main td[data-label="HazMat"] {
	text-align: center;
}

main .input-block-txt {
	font-size: 16px;
	font-family: "assistant-300";
	color: #d4d4d3;
}

main .un-number {
	width: 85px;
	margin: 0 30px 0 20px;
}

main .propership {
	width: 200px;
	margin-right: 18px;
}

main td[data-label="Commodity Description"] {
	width: 415px;
}

main td[data-label="NMFC"] {
	text-align: center;
}

main .hz {
	width: 105px;
}

main .about-hazard {
	display: inline-block;
	border-bottom: 1px dotted #75d8db;
	color: #75d8db;
	vertical-align: sub;
	cursor: pointer;
}

main .packing {
	width: 118px;
	margin-left: 22px;
}

main .agree {
	padding-top: 17px;
	display: flex;
	justify-content: flex-end;
}

main .agree .agree-content {
	min-width: 240px;
}

main .agree .agree-txt {
	display: inline-block;
	font-family: "assistant-300";
	font-size: 14px;
	padding-bottom: 20px;
}

main .agree .agree-link {
	color: #75d8db;
	text-decoration: underline;
	font-family: "assistant-300";
	font-size: 14px;
	padding: 0 12px 22px 0;
}

main .btn {
	display: block;
	font-size: 15px;
	border-radius: 2px;
	background-color: #eeaa79;
	color: #FFFFFF;
	padding: 8px 75px 9px 75px;
	border: 1px solid #eeaa79;
	vertical-align: super;
	transition: .6s ease-out;
	cursor: pointer;
	font-family: "assistant-400";
	font-size: 16px;
	text-align: center;
	width: 220px;
	height: 40px;
}

main .btn:hover {
	background-color: #FFFFFF;
	color: #eeaa79;
}

main input[type=checkbox],
input[type=radio] {
	display: none;
}

input[type=checkbox]+label:before {
	content: "\2713";
	color: transparent;
	display: inline-block;
	border: 1px solid #b4b4b3;
	border-radius: 4px;
	font-size: 25px;
	line-height: 22px;
	margin: -5px 5px 0 0;
	height: 20px;
	width: 20px;
	text-align: center;
	vertical-align: middle;
	transition: color ease .3s;
	display: inline-block;
}

input[type=checkbox]:checked+label:before {
	color: #75d8db;
	border: 1px solid transparent;
}

@media screen and (max-width: 1024px) {
	table td {
		display: block!important;
		float: left;
		font-size: 13px;
		width: 100%;
		text-align: center;
	}
	main .toggler {
		height: max-content;
	}
	main table thead {
		display: none;
		float: left;
		position: relative;
	}
	main table td:before {
		content: attr(data-label);
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		display: block;
		position: absolute;
		padding: 0 8px;
		background: #eee;
	}
	main table .input-table {
		width: 232px;
		margin-left: 50%;
		background-position: 202px;
	}
}